<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/admin-head::admin-head">
</head>
<body id="page-top">
<div id="wrapper" th:insert="fragments/admin-header::admin-header"></div>



                <!-- Begin Page Content -->
                <div style="padding-bottom: 5%" class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-4 text-gray-800">Update Account</h1>

<div id="edit" style="z-index: 9;width: fit-content; margin: auto"> 
 		  <div class="bg-img">
      <div class="content">

   
        <form method="post"  th:action="@{/admin/updateAcc}" onsubmit="return isValidForm1()" >
        
         <div class="field">
           	<label class="labl" >ID</label>
            <input readonly="readonly" id="SID" name="id" type="text" style="float: right" th:value="${acc.id}"/>
          </div>
          <div id="u-error" style="height: 25px;color: #a2f125;font-weight: bold;"></div>
          
           <div class="field">
           	<label class="labl" >User Name</label>
            <input name="username" type="text"  style="float: right" th:value="${acc.username}"/>
          </div>
          <div id="n-error" style="height: 25px;color: #a2f125;font-weight: bold;"></div>
                     <div class="field">
           	<label class="labl" >Full Name</label>
            <input name="fullname" type="text"  style="float: right" th:value="${acc.fullname}"/>
          </div>
          <div id="n-error" style="height: 25px;color: #a2f125;font-weight: bold;"></div>
                     <div class="field">
           	<label class="labl" >Address</label>
            <input name="addr" type="text"  style="float: right" th:value="${acc.address}"/>
          </div>
          <div id="n-error" style="height: 25px;color: #a2f125;font-weight: bold;"></div>
                     <div class="field">
           	<label class="labl" >Mail</label>
            <input name="mail" type="text"  style="float: right" th:value="${acc.mail}"/>
          </div>
          <div id="n-error" style="height: 25px;color: #a2f125;font-weight: bold;"></div>
          
          <div class="field">
            <input style="float:right" id="login-submit" type="submit" value="Update">
          </div>
        </form>
       
      </div>
   </div>
 
 </div>
                </div>
                <!-- /.container-fluid -->

  
            <!-- End of Main Content -->
      <div th:insert="fragments/admin-footer::admin-footer"></div>