
	
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head::head">
</head>
<body>
<div th:insert="fragments/header::header"></div>
      <!-- header section end -->
      <!-- movies section start -->
      
     <div class="movies_section layout_padding">
     <h1 style="color: yellow; font-size: 40px; text-align: center;" th:text="'Tìm kiếm theo' +${searchValue}"></h1>
         <div class="container">
            <div class="movies_menu">
               <ul th:each="cate : ${cate}">
            

               <li><a th:text="${cate.categoryName}" th:href="@{http://localhost:8080/byCategory (p=1,c=${cate.id})}"></a></li>
                
          
                 
               </ul>
            </div>
             <h1 style="color: yellow; font-size: 40px; text-align: center;">Không có kết quả</h1>
        
        </div>
        </div>

      <!-- movies section end -->
<div th:insert="fragments/footer::footer"></div>